@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .scroll::-webkit-scrollbar {
      display: none;
    }

    .ms-overflow-style {
      -ms-overflow-style: none;
    }

    .scroll-bar-width {
      scrollbar-width: none;
    }

    .smooth-scroll {
      scroll-behavior: smooth;
    }

    .shadowSlide {
      filter: drop-shadow(0px 18px 30px rgba(0, 0, 0, 0.1));
    }
  }
}

/* #enal::-webkit-scrollbar {
  display: none;
}

#enal {
  -ms-overflow-style: none;

  scrollbar-width: none;

} */